<h1 class="ui container centered header" style="margin-top: 25px">Tier One Proposal (TOPS)</h1>
<div style="background: #500000">
  <div class="ui huge maroon menu" id="main-menu">
    <a href="/" class="item">Home</a>
    <a href="/form" class="item">Form</a>
    <a href="" class="item"> View Table</a>
  </div>
</div>