<%=render 'header' %>
<h2 class="ui center aligned icon header">
  <i class="edit outline circular icon"></i>
  <div class="content">
    Video Log
    <div class="sub header">Use this form to enter data for videos</div>
  </div>
</h2>
<div class="ui container center aligned grid">

 <div class="row">
   <form class="ui fluid centered form" style="margin-top: 30px">
     <div class=" two required fields">
       <div class="field">
         <label>Video Link</label>
         <input type="text">
       </div>
       <div class="field">
         <label>Author/Presenter</label>
         <input type="text">
       </div>
     </div>
     <div class="two required fields">
       <div class="field">
         <label for="">Video Need to be cut at</label>
         <input type="text">
       </div>
       <div class="field">
         <label for="">Current Book Section</label>
         <input type="text">
       </div>
     </div>
     <div class="two required fields">
       <div class="field">
         <label>Topic</label>
         <select class="ui search selection dropdown" class="search-select">
           <option value="">Type Topic Name</option>
           <option value="151">Algebra</option>
           <option value="152">Calculus Analysis</option>
         </select>
       </div>
       <div class="field">
         <label>Possible Course to use</label>
         <select class="ui search selection dropdown" class="search-select">
           <option value="">Type Course Number</option>
           <option value="151">151</option>
           <option value="152">152</option>
         </select>
       </div>
     </div>

     <div class="field">
       <label>Keywords</label>
       <select class="ui fluid search dropdown" multiple="">
         <option value="">State</option>
         <option value="AL">Alabama</option>
         <option value="AK">Alaska</option>
         <option value="AZ">Arizona</option>
         <option value="AR">Arkansas</option>
         <option value="CA">California</option>
         <option value="CO">Colorado</option>
         <option value="CT">Connecticut</option>
       </select>
     </div>

   </form>
 </div>
</div>

