<%= stylesheet_link_tag '/stylesheets/welcome' %>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <%= image_tag("TAM-Logo.png", alt: "TAMU Logo" , class:"ui centered small image " )%>
    <h1 class="ui  maroon-ltr header ">
      Tier One Proposal (TOPS)
    </h1>
    <h3>Please enter your first and last Name</h3>
    <form class="ui form" action="/name/save" method="POST">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="ui big  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Ex: John Smith">
          </div>
        </div>
        <button style="color: white" class="ui fluid submit maroon-bg button">Next</button>
      </div>
      <div class="ui error message"></div>

    </form>
  </div>
</div>

</body>

</html>