<!--<h1 class="ui container centered header" style="margin-top: 25px">Tier One Proposal (TOPS)</h1>-->
<div class="ui  fixed massive maroon-bg menu" id="main-menu">
  <a class="item"><span id="logo">TOPS</span></a>
  <a href="/videos" class="item"> View All Entries</a>
  <a href="/videos/new" class="item">Create New Entry</a>

  <% if session[:role] == 'admin' %>
  <a href="/keywords" class="item">List of Keywords</a>
  <% end  %>
  <div class="right menu">
    <div class="item">
      <div class="ui  inverted basic  animated button" tabindex="0" id="searchButton">
        <div class="visible content">Search</div>
        <div class="hidden content">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
    <span style="color: white" class=" item"><i class="inverted user icon"></i><%=session[:current_user_name]%></span>
    <% if user_signed_in? %>
    <!--            <a style="color: white"  class="item" rel="nofollow" data-method="delete" href="/users/sign_out"><i class="sign-out alternate icon"></i>Logout</a>-->
    <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "item", :style=>'color:white;' %>

    <% end %>
  </div>
</div>


<div id="main-content" style="padding: 110px 0 75px 0 !important;">

  <% if flash[:notice] %>
  <div class="ui text container warning message">
    <i class="close icon"></i>
    <div class="header">
      <%=flash[:notice] %>
    </div>
  </div>
  <% end %>