
<!--<h1 class="ui container centered header" style="margin-top: 25px">Tier One Proposal (TOPS)</h1>-->
    <div style="background: #500000">
      <div class="ui fixed huge maroon-bg menu" id="main-menu">
        <a href="/videos" class="item"> View All Entries</a>
        <a href="/videos/new" class="item">Create New Entry</a>
        <% if session[:role] == 'admin' %>
          <a href="/keywords" class="item">List of Keywords</a>
        <% end  %>
        <div class="right menu">
          <span style="color: white" class=" item"><i class="inverted user icon"></i><%=session[:current_user_name]%></span>
          <% if user_signed_in? %>
            <a style="color: white"  class="item" rel="nofollow" data-method="delete" href="/users/sign_out"><i class="sign-out alternate icon"></i>Logout</a>
          <% end %>
        </div>
      </div>
    </div>

<% if flash[:notice] %>
  <div class="ui text container warning message">
    <i class="close icon"></i>
    <div class="header">
      <%=flash[:notice] %>
    </div>
  </div>
<% end %>
<div style="    margin-bottom: 90px !important;
">

</div>