
<h1 class="ui container centered header" style="margin-top: 25px">Tier One Proposal (TOPS)</h1>
<div style="background: #500000">
  <div class="ui huge maroon-bg menu" id="main-menu">
    <a href="/videos" class="item"> View All Entries</a>
    <a href="/videos/new" class="item">Create New Entry</a>
    <a href="/keywords" class="item">List of Keywords</a>
    <a class="item">List of Topics</a>
    <div class="right menu">
      <a style="color:white" class="item" href="/"><i class="sign-out alternate icon"></i>Logout</a>
    </div>
  </div>
</div>