<%=render 'header' %>
<%= stylesheet_link_tag '/stylesheets/videos' %>

</head>
<body>
<h2 class="ui center aligned icon header">
  <i class="edit outline circular icon"></i>
  <div class="content">
    Video Log
    <div class="sub header">Use this form to enter data for videos</div>
  </div>
</h2>
  <div class="ui text container">

   <form action="/videos" method="POST" class="ui form" style="margin:0">
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
     <h4 class="ui dividing header">Video Information</h4>
     <div class=" two required fields">
       <div class="field">
         <label>Video Link</label>
         <input type="text" name="link">
       </div>
       <div class="field">
         <label>Author/Presenter</label>
         <input type="text" name="presenter">
       </div>
     </div>
       <div class=" field">
         <label>Video Needs to be cut at:</label>
         <select class="ui fluid search dropdown" id="cuts" multiple="" name = cuts[]>
           <option value="">Cut Times will appear here</option>
           <option value="5:87">5:87</option>
         </select>
       </div>
       <div class="field">
         <label>Enter time here:</label>
         <span class="ui action input">
           <input type="text" placeholder="Search..." id="input-cut">
           <a class="ui button" id="enter-cut">Enter</a>
         </span>
       </div>

     <h4 class="ui dividing header">Subject Information</h4>
     <div class="two required fields">
       <div class="field">
         <label f>Current Book Section</label>
         <input type="text" name="section">
       </div>
       <div class="field">
         <label>Topic</label>
         <select class="ui search selection dropdown" name="topic">
           <option value="">Type Topic Name</option>
           <option value="Algebra">Algebra</option>
           <option value="Calculus Analysis">Calculus Analysis</option>
         </select>
       </div>
     </div>
     <div class="field">
       <label>Possible Course to use</label>
       <select class="ui fluid search dropdown" multiple="" name = courses[]>
         <option value="">Type Course Number</option>
         <option value="151">151</option>
         <option value="152">152</option>
       </select>
     </div>
     <div class="field">
       <label>Keywords</label>
       <select class="ui fluid search dropdown" multiple="" id ="keywords" name="keywords[]">
         <option value="">Keywords</option>
         <option value="Derivatives">Derivatives</option>
         <option value="Matrix Multiplication">Matrix Multiplication</option>
       </select>
     </div>
     <h4 class="ui dividing header">Others</h4>




     <button style="color: white; margin: 20px 0 20px 0" class="ui big submit grey-bg button">Create</button>

   </form>

</div>










