@import "semantic-ui";
@import url('https://fonts.googleapis.com/css?family=Oswald');

.maroon-bg{
  background:#500000 !important;
}

.grey-bg{
  background: #707373 !important;
}

.maroon-ltr{
  color:#500000 !important;
}
h1{
  font-family: 'Oswald', sans-serif !important;
}

//.label{
//  background: #003C71 !important;
//  color: white !important;
//}