@import "semantic-ui";
@import url('https://fonts.googleapis.com/css?family=Oswald');

#logo{
  font-weight: bolder;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
font-size: 33px;
  font-family: 'Oswald', sans-serif !important;


}
.maroon-bg{
  background:#500000 !important;
  color: white !important;
}

.grey-bg{
  background: #707373 !important;
}

.beige-bg{
  background: #D6D3C4 !important;
 font-weight: bold !important;
  font-size: 14px !important;
}

.light-beige-bg{
  background: #fefdfb !important;
}

.maroon-ltr{
  color:#500000 !important;
}
h1{
  font-family: 'Oswald', sans-serif !important;
}

.title{
  color: #500000 !important;
  font-weight: bold !important;
  text-decoration: underline !important;
  font-size: 19px !important;

}

.white-ltr{
  color: white !important;
}

.center-role-form {
  width: fit-content;
  text-align: center;
  margin: 1em auto;
}
