@import "semantic-ui";
@import url('https://fonts.googleapis.com/css?family=Oswald');

.maroon-bg{
  background:#500000 !important;
  color: white !important;
}

.grey-bg{
  background: #707373 !important;
}

.maroon-ltr{
  color:#500000 !important;
}
h1{
  font-family: 'Oswald', sans-serif !important;
}

.title{
  color: #500000 !important;
  font-weight: bold !important;
  text-decoration: underline !important;
  font-size: 19px !important;

}

.white-ltr{
  color: white !important;
}

.center-role-form {
  width: fit-content;
  text-align: center;
  margin: 1em auto;
}